<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title th:text="${titulo}"></title>
		<style>
		table {
			border-collapse: collapse;
			margin: 0 auto;
			/* Margen automático para centrar horizontalmente */

		}

		td,
		th {
			border: 1px solid darkgray;
			padding: 8px;
			text-align: center;
		}
	</style>
</head>

<body>

	<h1 th:text="${tituloH1}"></h1>

	<table>
		<theader>
			<tr>				
				<td>Cantidad</td>
				<td>Marca</td>
				<td>Modelo</td>
				<td>Tipo</td>
				<td>Precio</td>
			</tr>
		</theader>
		<tbody>
			<tr th:each="articulo :${lista}">
				<td th:text = "${articulo.cantidad}"></td>
				<td th:text = "${articulo.marca}"></td>
				<td th:text = "${articulo.modelo}"></td>
				<td th:text = "${articulo.tipo}"></td>
				<td th:text = "${articulo.precio}"></td>
			</tr>
		</tbody>

	</table>

</body>

</html>